/* # Global styles */
:root {
	--colour-page: #808080;
	--colour-accent-bg: #ff4200;
	--colour-accent-text: #fff;
	--colour-link-text: #ff490a;
	--colour-column: #fcfcfc;
	--colour-text: #111;
	--colour-code-bg: #0a1414;
	--colour-code-border: #070e0e;
	--colour-code-text: #eeee99;
}
body {
	background-color: var(--colour-page);
	color: var(--colour-text);
	font-family: sans-serif;
	font-size: 1.12em;
	margin: 0;
}
/* # Preferences panel styles */
div#panel {
	background-color: var(--colour-page);
	height: 100vh;
	/* Prevent content from showing when panel is closed */
	overflow-x: hidden;
	/* Position panel at far right of screen */
	position: fixed;
	right: 0px;
	text-align: right;
	/* Width is dynamically changed by JavaScript */
	width: 0px;
}
/* # Primary column styles */
div#column {
	background-color: var(--colour-column);
	/* Center horizontally */
	margin: auto;
	/* Stretch to fit screen height */
	min-height: 100vh;
	max-width: 820px;
}
/* Remove underline from container links */
a:has(div) {
	text-decoration: none;
}
div#header {
	background-color: var(--colour-accent-bg);
	padding: 20px;
}
div#header > h1 {
	color: var(--colour-accent-text);
	text-align: center;
	text-decoration: none;
}
img {
	/* Remove small gap below images */
	display: block;
	/* Images are not allowed to exceed the width of their containers */
	max-width: 100%;
}
/* # Hero image styles */
div#hero {
	overflow: hidden;
}
div#hero img {
	transition: transform 0.325s ease;
}
div#hero:hover img {
	transform: scale(1.4);
}
/* # Content styles */
div#content {
	padding: 20px;
}
:is(div, th, td) > :first-child {
	margin-top: 0px;
}
:is(div, th, td) > :last-child {
	margin-bottom: 0px;
}
a {
	color: var(--colour-link-text);
}
ul,
ol {
	padding-inline-start: 30px;
}
:not(pre) > code,
pre {
	background-color: var(--colour-code-bg);
	border: 1px solid var(--colour-code-border);
	border-radius: 6px;
}
:not(pre) > code {
	color: var(--colour-code-text);
	padding: 0px 3px 1px 3px;
}
pre {
	padding: 6px 8px 6px 8px;
	white-space: pre-wrap;
}
table,
th,
td {
	border: 1px solid var(--colour-text);
	border-collapse: collapse;
}
th,
td {
	font-size: 0.85em;
	padding: 6px;
	text-align: left;
}
.faded {
	opacity: 0.35;
}
:is(th, td) > :is(ul, ol) {
	padding-inline-start: 20px;
}
/* # Preference styles */
/* ## Dark mode */
.dark {
	color-scheme: dark;
	--colour-page: #111111;
	--colour-column: #333333;
	--colour-text: #fcfcfc;
}
/* ## Skins */
.skin-ir {
	--colour-accent-bg: #000077;
	--colour-accent-text: #eeee99;
	--colour-link-text: #000077;
}
.skin-ir.dark {
	--colour-link-text: #eeee99;
}
.skin-race {
	--colour-page: #fff;
	--colour-accent-bg: #ff0000;
	--colour-link-text: #ff0000;
}
.skin-race.dark {
	--colour-page: #000;
}
