/* # Global styles */
:root {
	--colour-page: #808080;
	--colour-accent-bg: #ff4200;
	--colour-accent-text: #fff;
	--colour-column: #fcfcfc;
	--colour-link-text: #ff490a;
	--colour-text: #111;
	--colour-code-bg: #0a1414;
	--colour-code-border: #070e0e;
	--colour-code-text: #ee9;
	/* Using 16:9 aspect ratio widths for breakpoints: https://pacoup.com/2011/06/12/list-of-true-169-resolutions/ */
	--breakpoint-small: 504px;
	--breakpoint-medium: 792px;
	--breakpoint-large: 1080px;
}
body {
	background-color: var(--colour-page);
	color: var(--colour-text);
	font-family: sans-serif;
	font-size: 1.12em;
	margin: 0;
}
/* # Top button styles */
div.top-button {
	/* Centre inner content vertically */
	align-items: center;
	background-color: var(--colour-column);
	/* Pretend div is a button */
	cursor: pointer;
	display: flex;
	/* Centre inner content horizontally */
	justify-content: center;
	font-size: 1.5em;
	font-weight: bold;
	height: 32px;
	/* Position relative to parent */
	position: absolute;
	/* Prevent user from selecting text */
	user-select: none;
	width: 48px;
}
div#top-button-preferences {
	/* Align to top-right with bottom-left rounded corner */
	border-radius: 0px 0px 0px 8px;
	right: 0px;
}
/* # Preferences panel styles */
div#panel {
	background-color: var(--colour-column);
	border-left: 3px solid var(--colour-accent-bg);
	height: 100vh;
	/* Prevent content from showing when panel is closed */
	overflow-x: hidden;
	/* Position panel at far right of screen */
	position: fixed;
	right: 0px;
	text-align: right;
	/* Width is dynamically changed by JavaScript */
	width: 0px;
	/* Stay on top of everything */
	z-index: 2;
}
/* # Primary column styles */
div#column {
	background-color: var(--colour-column);
	/* Center horizontally */
	margin: auto;
	/* Stretch to fit screen height */
	min-height: 100vh;
	max-width: var(--breakpoint-medium);
	/* All child elements are positioned relative to this */
	position: relative;
}
/* Remove underline from container links */
a:has(div) {
	text-decoration: none;
}
div#header {
	background-color: var(--colour-accent-bg);
	padding: 20px;
}
div#header > h1 {
	color: var(--colour-accent-text);
	text-align: center;
	text-decoration: none;
}
img {
	/* Remove small gap below images */
	display: block;
	/* Images are not allowed to exceed the width of their containers */
	max-width: 100%;
}
/* # Content styles */
div#content {
	padding: 20px;
}
:is(div, th, td) > :first-child {
	margin-top: 0px;
}
:is(div, th, td) > :last-child {
	margin-bottom: 0px;
}
a {
	color: var(--colour-link-text);
}
ul,
ol {
	padding-inline-start: 30px;
}
:not(pre) > code,
pre {
	background-color: var(--colour-code-bg);
	border: 1px solid var(--colour-code-border);
	border-radius: 6px;
}
:not(pre) > code {
	color: var(--colour-code-text);
	padding: 0px 3px 1px 3px;
}
pre {
	padding: 6px 8px 6px 8px;
	white-space: pre-wrap;
}
table,
th,
td {
	border: 1px solid var(--colour-text);
	border-collapse: collapse;
}
th,
td {
	font-size: 0.85em;
	padding: 6px;
	text-align: left;
}
.faded {
	opacity: 0.35;
}
:is(th, td) > :is(ul, ol) {
	padding-inline-start: 20px;
}
/* # Preference styles */
/* ## Dark mode */
.mode-dark {
	color-scheme: dark;
	--colour-page: #111;
	--colour-column: #333;
	--colour-text: #fcfcfc;
}
/* ## Skins */
.skin-ir {
	--colour-page: #002040;
	--colour-accent-bg: #1a4066;
	--colour-accent-text: #ffff90;
	--colour-column: #ddd;
	--colour-link-text: #1a4066;
	--colour-text: #011;
}
.skin-ir.mode-dark {
	--colour-column: #001b1b;
	--colour-link-text: #ffff90;
	--colour-text: #fcfcfc;
}
.skin-race {
	--colour-page: #fff;
	--colour-accent-bg: #f00;
	--colour-column: #fff;
	--colour-link-text: #f00;
	--colour-text: #000;
}
.skin-race.mode-dark {
	--colour-page: #000;
	--colour-column: #000;
	--colour-text: #fff;
}
/* ## Positions */
.position-left div#column {
	margin: 0px auto 0px 0px;
}
.position-right div#column {
	margin: 0px 0px 0px auto;
}
/* ## Sizes */
.size-small div#column {
	max-width: var(--breakpoint-small);
}
.size-large div#column {
	max-width: var(--breakpoint-large);
}
.size-full div#column {
	max-width: none;
}
