---
import Body from '../components/html.astro';
const pages = import.meta.glob('./**/*.{astro,md}');
const urls: string[] = Object.keys(pages);
for (let i = 0; i < urls.length; i++) {
	urls[i] = urls[i].replace('./', '').replace('.astro', '').replace('.md', '');
}
---
<Body title="Home Page">
	<h1>Home Page</h1>
	<ul>{ urls.map((url) => (
		<li>
			<a href={url}>{url}</a>
		</li>
	)) }</ul>
</Body>
