---
import Content from '../components/content.astro';
import Html from '../components/html.astro';

const pages = import.meta.glob('./**/*.{astro,md}');
const urlPaths: string[] = Object.keys(pages);
const safeUrlPaths: string[] = []
for (let i = 0; i < urlPaths.length; i++) {
	if (urlPaths[i] === './404.astro') continue;
	safeUrlPaths.push(urlPaths[i].replace('./', '').replace('.astro', '').replace('.md', ''));
}
---
<Html title="Home Page">
	<Content>
		<h1>Home Page</h1>
		<ul>{ safeUrlPaths.map((safeUrlPath) => (
			<li>
				<a href={safeUrlPath}>{safeUrlPath}</a>
			</li>
		)) }</ul>
	</Content>
</Html>
