---
import Article from '../../components/article.astro';

export function getStaticPaths() {
	return [
		{ params: {
			user: 'Jack5',
			userLower: 'jack5'
		}},
		{ params: {
			user: 'Zeroman95',
			userLower: 'zeroman95'
		}},
	]
}

const { user, userLower } = Astro.params;
let frontmatter: Record<string, unknown> = {
	title: user
}
---
<Article frontmatter={frontmatter}>
	<p>{userLower}</p>
</Article>
