---
const { title } = Astro.props;
---
<html lang="en">
	<head>
		<meta charset="utf-8"/>
		<link rel="icon" href="/favicon.ico"/>
		<link rel="stylesheet" href="/styles.css">
		<meta name="viewport" content="width=device-width"/>
		<meta name="generator" content={Astro.generator}/>
		<title>{title}</title>
	</head>
	<body>
		<!-- TODO: Add dedicated button for opening preferences panel -->
		<!-- Preferences panel -->
		<div id="panel">
			<p id="button-hide-panel">Close panel</p>
			<script>
				const button = document.getElementById('button-hide-panel');
				button!.addEventListener('click', () => {
					const panel = document.getElementById('panel');
					panel!.style.width = '0px';
				})
			</script>
			<h1>Preferences</h1>
			<h2>Mode</h2>
			<ul>
				<li><span class="button-mode">Light</span></li>
				<li><span class="button-mode">Dark</span></li>
			</ul>
			<h2>Skin</h2>
			<ul>
				<li><span class="button-skin">Jack5</span></li>
				<li><span class="button-skin" data-skin="ir">interp'd Reality</span></li>
				<li><span class="button-skin" data-skin="race">Race the Hedgehog</span></li>
			</ul>
		</div>
			<script>
				/**
				 * Handle mode and skin button clicks. Updates the class of the body to use the correct styles and sets or unsets browser cookies on click.
				 */
				const modeButtons = document.getElementsByClassName('button-mode');
				for (let i = 0; i < modeButtons.length; i++) {
					modeButtons[i].addEventListener('click', () => {
						const body = document.querySelector('body');
						if (modeButtons[i].textContent === 'Dark') {
							body!.classList.add('dark');
							localStorage.setItem('mode', 'dark');
						} else {
							body!.classList.remove('dark');
							localStorage.removeItem('mode');
						}
					})
				}
				const skinButtons = document.getElementsByClassName('button-skin');
				for (let i = 0; i < skinButtons.length; i++) {
					skinButtons[i].addEventListener('click', () => {
						const body = document.querySelector('body');
						body!.classList.remove('skin-ir');
						body!.classList.remove('skin-race');
						localStorage.removeItem('skin');
						const skin = skinButtons[i].getAttribute('data-skin');
						if (skin !== null) {
							body!.classList.add('skin-' + skin);
							localStorage.setItem('skin', skin);
						}
					});
				}
			</script>
		<!-- Primary column -->
		<div id="column">
			<a href="/"><div id="header">
				<h1>JACK5</h1>
			</div></a>
			<slot/>
		</div>
	</body>
	<script>
		/**
		 * Load the user's preferred mode and skin from their browser cookies and apply them to the page.
		 */
		const mode = localStorage.getItem('mode');
		const skin = localStorage.getItem('skin');
		const body = document.querySelector('body');
		if (mode === 'dark') {
			body!.classList.add('dark');
		}
		if (skin !== null) {
			body!.classList.add('skin-' + skin);
		}
	</script>
</html>
