---
const { title } = Astro.props;
---
<html lang="en">
	<head>
		<meta charset="utf-8"/>
		<link rel="icon" href="/favicon.ico"/>
		<link rel="stylesheet" href="/styles.css">
		<meta name="viewport" content="width=device-width"/>
		<meta name="generator" content={Astro.generator}/>
		<title>{title}</title>
	</head>
	<body>
		<!-- TODO: Add dedicated button for opening preferences panel -->
		<!-- Preferences panel -->
		<div id="panel">
			<p id="button-hide-panel">Close panel</p>
			<script>
				const button = document.getElementById('button-hide-panel');
				button!.addEventListener('click', () => {
					const panel = document.getElementById('panel');
					panel!.style.width = '0px';
				})
			</script>
			<h1>Preferences</h1>
			<p id="button-reset-preferences">Reset all</p>
			<h2>Mode</h2>
			<ul>
				<li><span class="button-mode">Light</span></li>
				<li><span class="button-mode" data-value="dark">Dark</span></li>
			</ul>
			<h2>Skin</h2>
			<ul>
				<li><span class="button-skin">Jack5</span></li>
				<li><span class="button-skin" data-value="ir">interp'd Reality</span></li>
				<li><span class="button-skin" data-value="race">Race the Hedgehog</span></li>
			</ul>
			<h2>Position</h2>
			<ul>
				<li><span class="button-position" data-value="left">Left</span></li>
				<li><span class="button-position">Centred</span></li>
				<li><span class="button-position" data-value="right">Right</span></li>
			</ul>
			<h2>Size</h2>
			<ul>
				<li><span class="button-size" data-value="small">Small</span></li>
				<li><span class="button-size">Normal</span></li>
				<li><span class="button-size" data-value="large">Large</span></li>
				<li><span class="button-size" data-value="full">Full width</span></li>
			</ul>
		</div>
			<script>
				/**
				 * Handle preference button clicks. Updates the class of the body to use the correct styles and sets or unsets browser cookies on click.
				 */
				const body = document.querySelector('body');
				const resetButton  = document.getElementById('button-reset-preferences');
				resetButton!.addEventListener('click', () => {
					body!.classList.remove(...Array.from(body!.classList).filter(
						(className) => className.startsWith('mode-') ||
						className.startsWith('skin-') ||
						className.startsWith('position-') ||
						className.startsWith('size-')
					));
					localStorage.removeItem('mode');
					localStorage.removeItem('skin');
					localStorage.removeItem('position');
					localStorage.removeItem('size');
				});

				function addPrefListeners(pref: string) {
					const prefButtons = document.getElementsByClassName('button-' + pref);
					for (let i = 0; i < prefButtons.length; i++) {
						prefButtons[i].addEventListener('click', () => {
							body!.classList.remove(...Array.from(body!.classList).filter(
								(className) => className.startsWith(pref + '-')
							));
							localStorage.removeItem(pref);
							const value = prefButtons[i].getAttribute('data-value');
							if (value !== null) {
								body!.classList.add(pref + '-' + value);
								localStorage.setItem(pref, value);
							}
						});
					}
				}

				addPrefListeners('mode');
				addPrefListeners('skin');
				addPrefListeners('position');
				addPrefListeners('size');
			</script>
		<!-- Primary column -->
		<div id="column">
			<div class="top-button" id="top-button-preferences">☰</div>
			<a href="/"><div id="header">
				<h1>JACK5</h1>
			</div></a>
			<slot/>
			<script>
				const button = document.getElementById('top-button-preferences');
				button!.addEventListener('click', () => {
					const panel = document.getElementById('panel');
					panel!.style.width = '210px';
				})
			</script>
		</div>
	</body>
	<script>
		/**
		 * Load the user's preferences from their browser cookies and apply them to the page.
		 */
		const body = document.querySelector('body');
		const mode = localStorage.getItem('mode');
		if (mode === 'dark') {
			body!.classList.add('mode-dark');
		}
		const skin = localStorage.getItem('skin');
		if (skin !== null) {
			body!.classList.add('skin-' + skin);
		}
		const position = localStorage.getItem('position');
		if (position !== null) {
			body!.classList.add('position-' + position);
		}
		const size = localStorage.getItem('size');
		if (size !== null) {
			body!.classList.add('size-' + size);
		}
	</script>
</html>
