---
const { title } = Astro.props;
---
<html lang="en">
	<head>
		<meta charset="utf-8"/>
		<link rel="icon" href="/favicon.ico"/>
		<link rel="stylesheet" href="/styles.css">
		<meta name="viewport" content="width=device-width"/>
		<meta name="generator" content={Astro.generator}/>
		<title>{title}</title>
	</head>
	<body>
		<div id="column">
			<a href="/"><div id="header">
				<h1>JACK5</h1>
			</div></a>
			<div id="content">
				<slot/>
			</div>
		</div>
	</body>
</html>
